@using DataAccess.Entity;
@using HcsBE.DTO;
@model HcsBE.DTO.ContactPatientInPrescriptionDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/PrecriptionStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/Sidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1d6b4c4b00.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main">
        @await Component.InvokeAsync("Header")
        </div>
        <div id="body-content">
            <div class="container-fluid">
                <div class="row">
                @await Component.InvokeAsync("Sidebar")
                    </div>
                    <div class="col-sm p-3 min-vh-100">

                        <h2 class="body-content-header">Hồ sơ bệnh nhân</h2>
                        <form class=" form-profile" method="post" action="/precription/AddInformationSuppliesToPrecription?medicalRCid=@ViewBag.MedicalRCid">
                            <div class="col-md-12 form-group">
                                <div class="line1 row">
                                    <div class="col-md-2 form-group">
                                        <label class="invoice-code">Mã đơn thuốc</label>
                                        <input type="text" class="invoice-code form-control" name="invoice-code" value="@Model.PrescriptionId"
                                               readonly />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="patient-code">Mã bệnh nhân</label>
                                        <input type="text" class="patient-code form-control" name="patient-code" value="@Model.PatientId"
                                               readonly />
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label class="fullname">Họ và tên</label>
                                        <input type="text" class="fullname form-control" name="fullname" value="@Model.Name"
                                               readonly />

                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="dob">Ngày sinh</label>
                                        <input type="text" class="dob form-control" name="fullname" value="@Model.Dob.ToString("yyyy/MM/dd")"
                                        readonly/>

                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="title-gender">Giới tính</label>
                                        <div class="gender">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="male"
                                                       @(Model.Gender==true ? "checked" : null)
                                                       value="true">
                                                <label class="form-check-label" for="male">Male</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="female"
                                                       @(Model.Gender==false ? "checked" : null)
                                                       value="false">
                                                <label class="form-check-label" for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line2 row">
                                    <div class="col-md-9 form-group">
                                        <label class="address">Địa chỉ</label>
                                        <input type="text" class="address form-control" name="address" value="@Model.Address" readonly/>
                                    </div>
                                    <div class="row-cols-md-3 form-group">
                                        <label class="phone">Số điện thoại</label>
                                        <input type="text" class="phone form-control" name="phone" value="@Model.Phone" readonly/>
                                    </div>

                                </div>
                                <div class="col-md-12 line3 row">
                                    <div class="col-md-6 form-group">
                                        <label class="date-create">Dịch vụ</label>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">

                                                    <select id="suppliesType" class="col-md-4 ml-3" name="suppliesType" onchange="LoadData()">
                                                        <option value="0">Chọn loại vật tư</option>
                                                        @foreach (var item in ViewBag.ListTypeSupplies)
                                                        {
                                                            <option value="@item.suppliesTypeId">@item.suppliesTypeName</option>
                                                        }
                                                    </select>

                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table class="table table-bordered table-header">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tên vật tư</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div class="scrollable-tbody">
                                                            <table id="supppliesTable" class="table table-bordered table-body">
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <label class="title-email">Dịch vụ đã chọn</label>
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table table-bordered table-header">
                                                    <thead>
                                                        <tr>
                                                            <th>Tên vật tư</th>
                                                            <th>Số lượng</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div class="scrollable-tbody">
                                                    <table id="Selected-supplies" class="table table-bordered table-body Selected-supplies-table">
                                                        <tbody>
                                                            @*@if (ViewBag.selectedService != null && ViewBag.selectedService is List<ServiceMRDTO>)
                                                            {
                                                            foreach (var s in (List<ServiceMRDTO>)ViewBag.selectedService)
                                                            {
                                                            <tr>
                                                            <td>@s.Service?.ServiceName</td>
                                                            <td>@s.Service?.Price</td>

                                                            <td><button type="button" onclick="RemoveService('@s.Service?.ServiceId','@s.Service?.ServiceName','@s.Service?.Price','@s.DoctorId')">Xóa</button></td>
                                                            </tr>
                                                            }
                                                            }else{}*@
                                                        </tbody>
                                                    </table>
                                                    <input hidden id="jsond" name="jsonData" />
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="col-md-12 line4 row">
                                    <div class="col-md-3 form-group">
                                        <label class="date-create">Ghi chú</label>
                                        <textarea type="text" class="note form-control" name="diagnose"></textarea>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="doctor-create">Bác sĩ kê đơn</label>
                                        <input type="text" class="doctor-create form-control" name="address" value="@ViewBag.DoctorName" 
                                                    readonly/>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="date-create">Ngày kê đơn</label>
                                        <input type="date" class="date-create form-control" name="creatDate" "  />
                                    </div>
                                    <div class="col-md-3 form-group">

                                        <button class="print">
                                            <img src="asset/img/icons8-print-30 1.png" />
                                            in
                                        </button>
                                        <button class="submit" onclick="sendData()">Tạo hóa đơn</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script>

    function LoadData() {
        var suppliesTypeId = $("#suppliesType").val();
        $.ajax({
            url: "https://localhost:7249/api/Supplies/ListSuppliesByType?typeId=" + suppliesTypeId,
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result, status, xhr) {
                console.log(result);
                var tbody = $("#supppliesTable tbody");
                tbody.empty();

                $.each(result, function (index, value) {
                    var newRow = $("<tr>");
                    newRow.append($("<td>").html(value["sName"]));
                    newRow.append($("<td>").html($(`<button type="button" onclick="addSupplies('${value["sName"]}', '${value["sId"]}')">Thêm</button>`)));
                    tbody.append(newRow);
                });
                //sendData();
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    }
    //function sendData() {
    //    let sendDataArray = supplies.map(item => item.ids);
    //    console.log(sendDataArray);
    //    $.ajax({
    //        type: "POST",
    //        url: "/precription/AddInformationPrecription",
    //        contentType: "application/json;charset=utf-8",
    //        data: JSON.stringify(sendDataArray),
    //        success: function (data, textStatus, jqXHR) {
    //            console.log('Success - Server Response:', data);
    //        },
    //        error: function (error) {
    //            console.error('Error sending data:', error);
    //        }
    //    });
    //}
    function sendData() {
        var rows = document.querySelectorAll('#Selected-supplies tbody tr');
        var dataToSend = [];

        rows.forEach(function (row) {
            var hiddenInputValue = row.querySelector('input[name="IdOfSupplies"]').value;
            var numberInputValue = row.querySelector('input[name="UnitInStock"]').value;

            dataToSend.push({
                idOfSupplies: hiddenInputValue,
                unitInStock: numberInputValue
            });
        });

        fetch('/precription/AddInformationPrecription', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataToSend)
        })
            .then(response => {
                if (response.ok) {
                    console.log('Data sent successfully');
                } else {
                    console.error('Failed to send data');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

</script>
<script type="text/javascript" async src="~/js/Sidebar.js?v=1.0" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/HeaderScript.js"></script>
<script type="text/javascript" src="~/js/SuppliesScript.js" asp-append-version="true"></script>
</html>