@model HcsBE.DTO.SuppliesDetailDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,
            initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/UserManagerStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/Sidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1d6b4c4b00.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #DEDEDE;">
    <div id="main">
        <div id="header">
        </div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar"></div>
                    <div class="content-right col-sm p-3
                            min-vh-100">
                        <div class="header-container">
                            <h2 class="header-text">Quản lí Vật Tư Y Tế</h2>
                        </div>
                        <h4 class="body-content-header">Thêm Vật Tư</h4>
                        <form class=" form-profile" method="post" action="/Supplies/EditInformationSupplies">
                            <div class="col-md-12 form-group">

                                <div class="col-md-12 content-left">
                                    <div class="line1 row">
                                        <div class="col-md-3
                                                form-group">
                                            <label class="title-fullname">Mã Vật Tư</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="SId" readonly value=" @Model.SId" />
                                        </div>
                                        <div class="col-md-5
                                                form-group">
                                            <label class="title-fullname">Tên Vật Tư</label>
                                            <input type="text"
                                                   class="
                                                    form-control"
                                                   name="SName" value="@Model.SName" />
                                        </div>

                                        <div class="col-md-4
                                                form-group">
                                            <label class="title-fullname">Phân Loại</label>
                                            <div class="gender">
                                                <select class="form-control" name="SuppliesTypeName">
                                                    @foreach (var item in ViewBag.ListSuppliesType)
                                                    {
                                                        @if(
                                                        item.suppliesTypeId == Model.SuppliesType.SuppliesTypeId
                                                        )
                                                        {
                                                            <option value="@item.suppliesTypeId" selected>@item.suppliesTypeName</option>
                                                        }else
                                                        {
                                                            <option value="@item.suppliesTypeId">@item.suppliesTypeName</option>
                                                        }

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 line2
                                            row">
                                        <div class="col-md-3">
                                            <label class="title-address">Ngày Nhập</label>
                                            <input type="date"
                                                   class="
                                                form-control"
                                                   name="InputDay" value="@Model.InputDay?.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="title-address">Hạn Sử Dụng</label>
                                            <input type="date"
                                                   class="
                                                form-control"
                                                   name="Exp" value="@Model.Exp.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="title-address">Số Lượng</label>
                                            <input type="number"
                                                   class="
                                                form-control"
                                                   name="UnitInStock" min="0" value="@Model.UnitInStock" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 line3
                                            row">
                                        <div class="col-md-6
                                                form-group-phone">
                                            <label class="title-phone">Nhà Phân Phối</label>
                                            <input type="text"
                                                   class="phone
                                                    form-control"
                                                   name="Distributor" value="@Model.Distributor" />
                                        </div>

                                    </div>
                                    <div class="col-md-12 line3
                                            row">
                                        <div class=" col-md-12
                                                form-group-phone">
                                            <label class="title-role">Ghi Chú Sử Dụng</label>
                                            <input type="text"
                                                   class="
                                                    form-control"
                                                   name="Uses" value="@Model.Uses" />
                                        </div>
                                    </div>
                                </div>
                                <div class="line5 row">
                                    <div>
                                        <button class="btn-change-password">
                                            <p class="btn text-dark">Lưu</p>
                                        </button>
                                    </div>

                                </div>
                            </div>


                        </form>


                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="~/js/HeaderScript.js"></script>
<script type="text/javascript" src="~/js/Sidebar.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>
</html>

