@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<HcsBE.DTO.PatientDTO>

@foreach (var item in Model)
{
    <tr>
        <td>@item.PatientId</td>
        <td>@item.Contacts?.Name</td>
        <td>@(item.Contacts?.Dob.ToShortDateString())</td>
        <td>@(item.Contacts?.Gender == true ? "Nam" : "Nữ")</td>
        <td>@item.Contacts?.Phone</td>
        <td>@item.Contacts?.Address</td>
        <td><button><a class="btn text-dark" href="/MedicalRecord/Add?pid=@item.PatientId">Thêm Bệnh Án</a></button></td>
        <td><button><a class="btn text-dark" href="/Patient/List?pid=@item.PatientId">Danh sách Khám</a></button></td>
    </tr>
}
