@model IEnumerable<HcsBE.DTO.MedicalRecordOutputDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="../../css/UserManagerStyle.css">
    <link rel="stylesheet" type="text/css" href="../../css/Sidebar.css">
    <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #DEDEDE;">
    <div id="main">
        <div id="header">
        </div>
        <div id="body-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar"></div>
                    <div class="content-right col-sm p-3 min-vh-100">
                        <div class="header-container">
                            <h2 class="header-text">Hồ Sơ Bệnh Án</h2>
                        </div>

                        <div class="addNewUser">
                        </div>

                        <div class="body-container">

                            <div class="search-container">
                                <input type="text" class="form-control
                                        search-input" id="searchInput" placeholder="Search
                                        anything..." oninput="filterTable()">
                                <span class="search-icon">
                                    <i class="fas fa-search"></i>
                                </span>

                            </div>
                            <table id="MRTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Mã Hồ Sơ</th>
                                        <th>Họ và tên</th>
                                        <th>Số Điện Thoại</th>
                                        <th>Ngày Khám</th>
                                        <th>Dịch Vụ Khám</th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MedicalRecordId</td>
                                            <td>@item.PatientName</td>
                                            <td>@item.PatientPhone</td>
                                            <td>@item.MedicalRecordDate</td>
                                            <td>@item.Patient.ServiceDetailName</td>

                                            <td><button><a class="btn text-dark" href="/ExamResult/ListResultByPid?id=@item.PatientId">Danh Sách Kết Quả</a></button></td>
                                            <td><button><a class="btn text-dark" href="/MedicalRecord/Add?examid=@item.ExamCode">Tái Khám</a></button></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="../../js/HeaderScript.js"></script>
    <script src="../../js/Sidebar.js"></script>
    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            table = document.getElementById("MRTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

</html>