@using HcsBE.DTO;
@using Newtonsoft.Json;
@model HcsBE.DTO.InvoiceDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/PrecriptionStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/Sidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1d6b4c4b00.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main">
        @await Component.InvokeAsync("Header")
        <div id="body-content">
            <div class="container-fluid">
                <div class="row">
                    @await Component.InvokeAsync("Sidebar")
                    <div class="col-sm p-3 min-vh-100">

                        <h2 class="body-content-header">Chi Tiết Hoá Đơn Dịch Vụ</h2>
                        <form class=" form-profile" method="post" action="/InvoiceService/ComfirmInvoice?id=@Model.InvoiceId">
                            <div class="col-md-12 form-group">
                                <div class="line1 row">
                                    <div class="col-md-2 form-group">
                                        <label class="invoice-code">Mã hóa đơn</label>
                                        <input type="text" class="invoice-code form-control" name="PrescriptionId"
                                               value="@Model.InvoiceId"
                                               readonly />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="patient-code">Mã bệnh nhân</label>
                                        <input type="text" class="patient-code form-control" name="PatientId"
                                               value="@Model.PatientId"
                                               readonly />
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label class="fullname">Họ và tên</label>
                                        <input type="text" class="fullname form-control" name="Name"
                                               value="@Model.Patient?.Contacts?.Name"
                                               readonly />

                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="dob">Ngày sinh</label>
                                        <input type="text" class="dob form-control" name="Dob"
                                               value="@Model.Patient?.Contacts?.Dob.ToString("dd/MM/yyyy")"
                                               readonly />

                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="title-gender">Giới tính</label>
                                        <div class="gender">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" disabled id="male"
                                                @(@Model.Patient?.Contacts?.Gender == true ? "checked" : null)
                                                       value="true">
                                                <label class="form-check-label" for="male">Male</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" disabled id="female"
                                                @(@Model.Patient?.Contacts?.Gender == false ? "checked" : null)
                                                       value="false">
                                                <label class="form-check-label" for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line2 row">
                                    <div class="col-md-9 form-group">
                                        <label class="address">Địa chỉ</label>
                                        <input type="text" class="address form-control" name="Address"
                                               value="@Model.Patient?.Contacts?.Address"
                                               readonly />
                                    </div>
                                    <div class="row-cols-md-3 form-group">
                                        <label class="phone">Số điện thoại</label>
                                        <input type="text" class="phone form-control" name="Phone"
                                               value="@Model.Patient?.Contacts?.Phone"
                                               readonly />
                                    </div>

                                </div>
                                <div class="col-md-6 form-group row">
                                    <label class="date-create">Dịch vụ đã chọn</label>
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="table table-bordered table-header">
                                                <thead>
                                                    <tr>
                                                        <th>Tên dịch vụ</th>
                                                        <th>Bác sĩ phụ trách</th>

                                                    </tr>
                                                </thead>
                                            </table>
                                            <div class="scrollable-tbody">
                                                <table class="table table-bordered table-body">
                                                    <tbody>
                                                        @if (ViewBag.Service != null && ViewBag.Service is List<ServiceMRDTO>)
                                                            @foreach (var s in (List<ServiceMRDTO>)ViewBag.Service)
                                                            {
                                                                <tr>
                                                                    <td>@s.Service?.ServiceName</td>
                                                                    <td>@s.DoctorContact?.Name</td>
                                                                </tr>
                                                            }

                                                        <!-- Add more rows here to see the scrolling effect -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" line4 row">
                                    <div class="col-md-4 form-group">
                                        <label class="date-create">Ngày tạo hoá đơn</label>
                                        <input type="date" class="date-create form-control" name="creatDate" value="@Model.CreateDate.ToString("yyyy-MM-dd")" readonly />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="date-create">Phương Thức Thanh Toán</label>
                                        <input type="text" class="date-create form-control" name="PayMethod" required/>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="date-create">Người thanh toán</label>
                                        <input type="text" class="date-create form-control" name="creatDate" value="@Model.CashierName" readonly />
                                    </div>
                                </div>
                                @if (Model.Status == false)
                                {
                                    <div class="col-md-12 line4 row">

                                        <select name="PaymentStatus">
                                            <option value="0">Chưa thanh toán</option>
                                            <option value="1">Đã thanh toán</option>
                                        </select>

                                        <input type="submit" value="Xác nhận">
                                    </div>
                                }
                                else
                                {
                                    <a href="/InvoiceService/PrintfInvoice?Service=@Html.Raw(JsonConvert.SerializeObject(ViewBag.Service))&idInvoice=@Model.InvoiceId">
                                        <img src="asset/img/icons8-print-30 1.png" />
                                        in
                                    </a>
                                }

                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" async src="~/js/Sidebar.js?v=1.0" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/HeaderScript.js"></script>
<script type="text/javascript" src="~/js/SuppliesScript.js" asp-append-version="true"></script>
</html>