@model IEnumerable<HcsBE.DTO.MedicalRecordDaoOutputDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="../../css/UserManagerStyle.css">
    <link rel="stylesheet" type="text/css" href="../../css/Sidebar.css">
    <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #DEDEDE;">
    <div id="main">
        <div id="header">
        </div>
        <div id="body-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar"></div>
                    <div class="content-right col-sm p-3 min-vh-100">
                        <div class="header-container">
                            <h2 class="header-text">Lịch sử khám bệnh</h2>
                        </div>                   
                        <div class="body-container">

                            <div class="search-container">
                                <input type="text" class="form-control
                                        search-input" placeholder="Search
                                        anything...">
                                <span class="search-icon">
                                    <i class="fas fa-search"></i>
                                </span>

                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã bệnh nhân</th>
                                        <th>Họ và tên</th>
                                        <th>Lí do khám</th>
                                        <th>Dịch vụ khám</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MedicalRecordId</td>
                                            <td>@item.PatientId</td>
                                            <td>@item.PatientName</td>
                                            <td>@item.ExamReason</td>
                                            <td>@item.Patient.ServiceDetailName</td>
                                            <td>Chưa khám</td>

                                            <td><button><a class="btn text-dark" href="#">Hồ sơ</a></button></td>
                                        </tr>
                                    }
                                    
                                    <!-- Add other rows similarly -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="../../js/HeaderScript.js"></script>
    <script src="../../js/Sidebar.js"></script>

</body>

</html>